.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 36vw;
    margin: 0px; 
    padding: 2vw ;    
}
.list > div {
    background-color: rgb(116, 197, 224);
    width: 300px;
    height: 5vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul {
    margin: 0px;
    padding: 0px;
}
input[type=text] {
    height: 30px;
}
button {
    background-color: #b4dbb5;            
    border: none;
    color: rgb(88, 88, 8);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}
.detail {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: 56vw; 
    padding: 2vw;    

}
.listDetail, .cliked {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    color: grey;
    font-weight: bold;
    width: 300px;
    height: 5vh;
    margin-top: 20px;
}
.listDetail:hover, .listDetail:active, .cliked {
    background-color: lightgrey;
    color: red;
} 
.detail img {
    width: 100%;
    height: 50vh;
}
.galTitle, .galPhotographyLocation, .galPhotographer, .galPhotographyMonth, .galSearchKeyword {    
    margin: 0px;
    margin-top: 5px;
}
.galTitle {
    color: grey;
    margin-top: 20px;
}
.galSearchKeyword {
    color: grey;
}